@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.head{
  font-family: 'Alex Brush', cursive;
  color:#ffffff;    
  text-shadow: 1px 0 #ffffff;
  letter-spacing:1px;
  font-weight:bold;
}

::-moz-selection {
  background: #5800B6;
}
::-webkit-selection {
  background: #5800B6;
}
::selection {
  background: #5800B6;
}

